@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* khaki[2] */
    --background: #d9d3c1; 
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* seperate? not enough */

.mantine-Carousel-indicator {
  background-color:  var(--mantine-color-darkBlue-9) !important;
}

.mantine-Carousel-indicators {
  bottom: 0px !important;
}

.mantine-Carousel-control {
  background-color:  var(--mantine-color-lightBlue-2) !important;
  color: black !important;
}
